img {width: 100px}
h1{margin-top:8vh;margin-bottom:5vh;text-align: center;}
ul{margin:1vw}
li{padding:1vw;padding-left:1.5vw}
button{margin-top:2vh;transition:0.025s;margin-left:0.5vw;margin-right:0.5vw}
button:active{transform:scale(0.95)}
div{
  display:flex;
  flex-direction:row;
  width:50vw;
  margin-left:auto;
  margin-right:auto;
  justify-content:center
}

.contador{
  border-radius:10px;
  width:2vw;
  border: solid rgb(56, 56, 56) 2px
}
